<div class="header_title">
  <span class="inside_text">{{ 'FAQ.FAQ' | translate }}</span>
</div>

<div class="buttons-container uk-container">
  <div class="faq-component" style="max-width: 600px;
      margin-left: auto;
      margin-right: auto;">
    <div class="uk-accordion" data-uk-accordion="multiple: true">

      <div class="faq-item" *ngFor="let service of ('FAQ.data' | translate)">
        <h3 class="uk-accordion-title" [ngClass]="(alignAllLeft)?'direct_left':'direct_right'">{{service.title}}</h3>
        <div class="uk-accordion-content" [ngClass]="(alignAllLeft)?'direct_left':'direct_right'"
          [innerHtml]="service.descr">

        </div>
      </div>

      <!-- <div *ngFor="let service of ('FAQ.data' | translate)">
          <p>{{service.title}}</p>
          <p>{{service.description}}</p>
      </div> -->

    </div>
  </div>
</div>

<div class="buttons-container uk-container uk-text-center">
  <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="isActive" (click)="goHome()">{{
    'PRIZES.BACK' | translate }}</button>
</div>

<div class=" uk-container animate__animated animate__bounceInUp" *ngIf="!openVerify"
  style="text-align: center; animation-duration: 1s; animation-delay: 1200ms;">

  <div class="bottom" style="display: flex; align-items: center; justify-content: space-between;">
    <div class="item">
      <img src="assets/images/logo_centurion.png" style="height: 55px;">
    </div>
    <div class="item">
      <img src="assets/images/logo_safaricom.svg">
    </div>
  </div>

</div>