#result {
  
  h4 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .coins {
    display: flex;
    justify-content: space-around;
    p {
      font-size: 14px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      margin: 10px 0;
    }
  }
  
 
  .coinWrap {
    width: 130px;
    text-align: center;
  }

  .coin {
    display: flex;
    align-items: center;
    width: 120px;
    height: 120px;
    position: relative;
    box-sizing: border-box;
    margin: 5px auto 15px;
    $border: 3px;
    background: #382a68;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 50%;
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      // margin: -$border; /* !importanté */
      margin: -6px;
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to top, #cf1ac9, #cf1ac9);
    }
    &__number {
      font-size: 35px;
      text-align: center;
      color: #cf1ac9;
      line-height: 80px;
      width: 120px;
      font-weight: bold;
      &_light {
        color: #ffdb6d;
        line-height: 90px;
        width: 90px;
      }
    }
  }
  .cashbackCoin {
    width: 90px;
    height: 90px;
    background-image: url("../../../assets/images/result-coin.svg");
  }

  .hint {
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
    span {
      font-weight: bold;
    }
    &_fail {
      font-size: 16px;
      color: #000;
      margin-bottom: 20px;
    }
  }
  
}

#error, #otp {
  text-align: center;
  padding-top: 15px;
  h4 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .coins {
    display: flex;
    justify-content: space-around;
    p {
      font-size: 14px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      margin: 10px 0;
    }
  }
  
 
  .coinWrap {
    width: 85px;
    text-align: center;
  }

  .coin {
    display: flex;
    align-items: center;
    width: 120px;
    height: 120px;
    position: relative;
    box-sizing: border-box;
    margin: 5px auto 15px;
    $border: 3px;
    background: #1d1d1d;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 50%;
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to top, #ff6600, #ff6600);
    }
    &__number {
      font-size: 33px;
      text-align: center;
      color: #ff6600;
      line-height: 80px;
      width: 80px;
      font-weight: bold;
      &_light {
        color: #ffdb6d;
        line-height: 90px;
        width: 90px;
      }
    }
  }
  .cashbackCoin {
    width: 90px;
    height: 90px;
    background-image: url("../../../assets/images/result-coin.svg");
  }

  .hint {
    font-size: 15px;
    text-align: center;
    margin-bottom: 50px;
    span {
      font-weight: bold;
    }
    &_fail {
      font-size: 16px;
      color: #000;
      margin-bottom: 20px;
    }
  }
  
}
.uk-modal{
    padding-top: 75px;
  }
.uk-modal-body{
    padding-top: 5px;
    // padding-bottom: 5px;
  }
.uk-button {
    border-radius: 17px;
    margin-bottom: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    min-height: 44px;
    text-transform: none;
}
.uk-modal{
  background: #00000000;
}

.uk-modal-dialog {
  background: #00000000;
  border-radius: 15px;
}
.button_link_white {
  color: white;
  margin-bottom: 12px;
  text-decoration: underline;
}

.button_link {
  color: #ffffff;
  margin-bottom: 0;
  text-decoration: underline;
}
@media (max-width: 767px), (max-height: 1205px),(min-height: 800px) {
  .main-footer{
  // background-color: #202020;
  padding: 0.4rem;
  color: #ffffff;
  // min-height: 167px;
  max-width: 100%; 
  // height: 300px;
  
  .uk-button-link{
    color: #9198a8;
    cursor:pointer;
  }
}
}

@media screen and (min-width: 600px) {
.main-footer{
  // background-color: #202020;
  padding: 0.4rem;
  color: #ffffff;
  max-width: 100%; 
  // height: 150px;
  // position:fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  // position: absolute;bottom: 0px;width: -webkit-fill-available; font-size: 15px;
}
}

@media screen and (min-height: 800px) {
.main-footer{
  // background-color: #202020;
  padding: 0.4rem;
  color: #ffffff;
  max-width: 100%; 
  // height: 150px;
  position:fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;bottom: 0px;width: -webkit-fill-available; font-size: 15px;
}
}

@media (min-width: 768px) and (min-height: 1206px){
.main-footer{
// background-color: #202020;
padding: 0.4rem;
color: #ffffff;
max-width: 100%; 
// height: 150px;
position:fixed;
bottom: 0px;
left: 0px;
right: 0px;
position: absolute;bottom: 0px;width: -webkit-fill-available; font-size: 15px;
.uk-button-link{
  color: #9198a8;
  cursor:pointer;
}
}
}
.play-button{
  border-radius: 25px;
    box-shadow: 1px 4px 0px 0 #cf1ac96b;
    background-image: linear-gradient(to bottom, #cf1ac9, #cf1ac9 16%, #5c2784 66%, #451b65);
    margin-bottom: 12px;
    border: none;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: white;
    min-height: 60px;
    text-transform: none;
}
// .message-container{
//     font-size: 17px;
//     font-weight: normal;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1.33;
//     letter-spacing: normal;
//     text-align: center;
//     color: #ffffff;
//     margin-bottom: 13px;
//     margin-top: 0.5rem;
// }