<div class="header_title">
  <span class="inside_text">{{ 'HOW.HOW' | translate }}</span>
</div>

<div class="buttons-container uk-container uk-text-center">
<div class="how-to-play-text" style="max-width: 600px;
    margin-left: auto;
    margin-right: auto;">
  <img class="icon animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 100ms;" src="assets/icons/icon-check.svg" alt=""/>
  <div class="item animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 100ms;">{{ 'HOW.MES_01' | translate }}<br>{{ 'HOW.MES_01b' | translate }}</div>
  <img class="icon animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 1s;" src="assets/icons/icon-swipe.svg" alt=""/>
  <div class="item animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 1s;">{{ 'HOW.MES_02' | translate }}<br>{{ 'HOW.MES_02b' | translate }}</div>
  <img class="icon animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 2s;" src="assets/icons/icon-timer.svg" alt=""/>
  <div class="item animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 2s;">{{ 'HOW.MES_03' | translate }}<br>{{ 'HOW.MES_03b' | translate }}</div>
  <img class="icon animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 3s;" src="assets/icons/icon-5s.svg" alt=""/>
  <div class="item animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 3s;">{{ 'HOW.MES_04' | translate }}<br>{{ 'HOW.MES_04b' | translate }}</div>
  <img class="icon animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 4s;" src="assets/icons/icon-prize.svg" alt=""/>
  <div class="item animate__animated animate__zoomIn" style="animation-duration: 300ms; animation-delay: 4s;">{{ 'HOW.MES_05' | translate }}<br>{{ 'HOW.MES_05b' | translate }}</div>
  
</div>
</div>
<div class="buttons-container uk-container uk-text-center">
 
  <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="isActive" (click)="goHome()">{{ 'HOW.BACK' | translate }}</button>
  
</div>
<div class="main-footer uk-container animate__animated animate__bounceInUp" *ngIf="!openVerify"
style="text-align: center; animation-duration: 1s; animation-delay: 1200ms;">

<br>

<div class="bottom" style="display: flex; align-items: center; justify-content: space-between;">
  <div class="item">
    <img src="assets/images/logo_centurion.png" style="height: 55px;">
  </div>
  <div class="item">
    <img src="assets/images/logo_safaricom.svg">
  </div>
</div>

</div>
