<!-- <div class="mts-logo" style="width:80px;">
  <img src="assets/images/gulogo.svg" alt="">
</div> -->

<div class="slideshow-container" *ngIf="!openVerify"
  uk-slideshow="animation: fade; min-height: 400; max-height: 400; autoplay: true; autoplay-interval: 2000; pause-on-hover: false;">

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

    <ul class="uk-slideshow-items">
      <li class="list-wrapper">
            
        <div class="uk-position-center uk-position-small uk-text-center uk-light">
            <div class="vector">
                <img class="icon" *ngIf="isEng" (click)="gotoPrizes()" style="width: 300px;" src="assets/images/t1.png" alt=""/>
                <img class="icon" *ngIf="!isEng" (click)="gotoPrizes()" style="width: 300px;" src="assets/images/t1K.png" alt=""/>
              </div>
              
        </div>
      </li>
      <li class="list-wrapper">
        
        <div class="uk-position-center uk-position-small uk-text-center uk-light">
            <div class="vector">
                <img class="icon" *ngIf="isEng" (click)="gotoPrizes()" style="width: 300px;" src="assets/images/t2.png" alt=""/>
                <img class="icon" *ngIf="!isEng" (click)="gotoPrizes()" style="width: 300px;" src="assets/images/t2K.png" alt=""/>
              </div>
              
        </div>
      </li>
      <!-- <li class="list-wrapper">
            
        <div class="uk-position-center uk-position-small uk-text-center uk-light">
            <div class="vector">
                <img class="icon" *ngIf="isEng" (click)="gotoPrizes()" style="width: 300px;" src="assets/images/t3.png" alt=""/>
                <img class="icon" *ngIf="!isEng" (click)="gotoPrizes()" style="width: 300px;" src="assets/images/t3K.png" alt=""/>
              </div>
              
        </div>
      </li> -->
      <li class="list-wrapper">
        
        <div class="uk-position-center uk-position-small uk-text-center uk-light">
            <div class="vector">
                <img class="icon" *ngIf="isEng" (click)="gotoPrizes()" style="width: 300px;" src="assets/images/t4.png" alt=""/>
                <img class="icon" *ngIf="!isEng" (click)="gotoPrizes()" style="width: 300px;" src="assets/images/t4K.png" alt=""/>
              </div>
              
        </div>
      </li>
    </ul>
    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
  </div>


</div>



<!-- 1. Check if MSISDN is in Header. If Yes Auto Login - goto 3
2. If No MSISDN in header open Subscribe/login. User adds his MSISDN and we check if already registered, create pin and sent to user by smartlink. If not check with libnumber if orange and register him.
3. Open OTP submit page. Check user for correct password.
4. Check if User has credits. (screen play now)
5. If not check if eligible to buy new. (Screen buy new round)
6. if not, alert that he has reached maximum. -->

<!-- Kenya test numbers (for reference):
254720079368 	UNSUB http://localhost:4200/7G5JZhm
254700031275	ACTIVE http://localhost:4200/7G3YeFz
254720018043	PENDING http://localhost:4200/7G5JF42
254700436104	INACTIVE http://localhost:4200/7G41j2o -->

<!-- WI-FI LOGIN -->
<div class="buttons-container uk-container uk-text-center" *ngIf="!AutoLogin && !openVerify && !loggedin" tabindex="-1">

  <div class="buttons-container uk-container uk-text-center">

    <!-- <h4 style="color:white;">Insert your phone number and password to login</h4> -->
    <form>
      <div class="uk-margin animate__animated animate__bounceInLeft"
        style="animation-duration: 1s; animation-delay: 400ms;">
        <div class="uk-inline uk-width-1-1 ">
          <span class="uk-form-icon" uk-icon="icon: phone; ratio: 1.5"></span>
          <input #number class="uk-input uk-border-rounded" type="text" (keyup)="onKey($event)"
            placeholder="{{ 'HOME.NUM' | translate }}">
        </div>
      </div>

    </form>

    <div class="buttons-container uk-container uk-text-center animate__animated animate__bounceInLeft"
      style="animation-duration: 1s; animation-delay: 700ms;">
      <p *ngIf="alertNumber" style="font-size: 12px; color: white;">{{ 'HOME.WRONGNUM' | translate }}</p>
      <button class="uk-button uk-button-default play-button uk-width-1-1" (click)="submit(number.value)">{{
        'HOME.SUB-LOG' | translate }}</button>
    </div>
  </div>
</div>
<!--END OF WIFI LOGIN-->

<!--OTP-->
<div class="buttons-container uk-container uk-text-center" *ngIf="openVerify" tabindex="-1">
  <div class="message-container" style="margin-top: 100px">
    <p style="font-size: 22px;color: rgb(255, 255, 255);text-align: center;">{{ 'HOME.OTP' | translate }}</p>
    <!--<p>Услуга оказывается МТС совместно с партнером «ДжЮ Груп»</p>-->
  </div>
  <div class="buttons-container uk-container uk-text-center" style="max-width: 595px; margin-bottom: 200px;">

    <!-- <h4 style="color:white;">Insert your phone number and password to login</h4> -->
    <form>
      <div class="uk-margin">
        <div class="uk-inline uk-width-1-1 ">
          <a class="uk-form-icon uk-form-icon-flip"><img class=".uk-position-right" (click)="OpenPass()"
              src="assets/icons/eye.svg" alt=""></a>

          <input #pin class="uk-input uk-border-rounded" type="{{passType}}" placeholder="....">
        </div>
      </div>
    </form>

    <div class="buttons-container uk-container uk-text-center">
      <p *ngIf="verErrorMes" style="font-size: 12px; color: white;">{{ 'HOME.VERERROR' | translate }}</p>
      <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="sessionService.isSubscribed"
        (click)="verifyDirect(pin.value)">{{ 'HOME.LOGIN' | translate }}</button>
      <button class="uk-button uk-button-default play-button uk-width-1-1" *ngIf="!sessionService.isSubscribed"
        (click)="verify(pin.value)">{{ 'HOME.SUB' | translate }}</button>
    </div>
    <div class="message-container" style="margin-top: 30px;">
      <p style="color:rgb(0, 0, 0); font-weight: bold; font-size: 20px;"><a (click)="resetPin()"
          style="color:rgb(255, 255, 255); text-decoration: underline;">{{ 'HOME.RESEND' | translate }}</a>
      </p>
      <!--<p>Услуга оказывается МТС совместно с партнером «ДжЮ Груп»</p>-->
    </div>

  </div>
</div>
<!--END OF OTP-->

<!--SUBSCRIBE SUCCESS-->
<div class="buttons-container uk-container uk-text-center" *ngIf="openSubSuccess" tabindex="-1">
  <!-- <div class="message-container" style="margin-top: 10px">
        <img class="icon1" src="assets/icons/icon-check.svg" alt=""/>
        <div class="item" style="font-size: 25px;">{{ 'HOME.CONGRATS' | translate }}</div>
        <img class="icon2" src="assets/images/logo-sw.svg" alt=""/>
        <div class="item" style="font-size: 25px;">{{ 'HOME.SUB_SUC_01' | translate }}<br>{{ 'HOME.SUB_SUC_02' | translate }}</div>
    </div>
    <div class="buttons-container uk-container uk-text-center"  style="max-width: 595px; margin-bottom: 200px;"> -->

  <!-- <h4 style="color:white;">Insert your phone number and password to login</h4> -->
  <button *ngIf="newLogin" style="color:white; line-height: inherit; padding: 8px;"
    class="uk-button uk-button-default uk-width-1-1" disabled>{{ 'MESSAGES.MESSAGE_000' | translate }}</button>
  <button *ngIf="!newLogin" style="color:white; line-height: inherit; padding: 8px;"
    class="uk-button uk-button-default uk-width-1-1" disabled>{{ 'MESSAGES.MESSAGE_18' | translate }}</button>
  <!-- <div class="buttons-container uk-container uk-text-center">
          
        <button class="uk-button uk-button-default play-button uk-width-1-1"   *ngIf="!this.sessionService.hasCredit()" (click)="GotoReturnHome()">{{'HOME.SUB_SUC_03' | translate }}</button> 
         
        <button class="uk-button uk-button-default play-button uk-width-1-1"   *ngIf="this.sessionService.hasCredit()" (click)="PlayGame()">{{'HOME.SUB_SUC_04' | translate }}</button> 
      </div> -->


  <!-- </div> -->
</div>

<div class="main-footer uk-container animate__animated animate__bounceInUp" *ngIf="!openVerify"
  style="text-align: center; animation-duration: 1s; animation-delay: 1200ms;">
  {{ 'HOME.FOOTER_01' | translate }}
  <br>
  <p>
    {{ 'HOME.FOOTER_02' | translate }}<br>{{ 'HOME.FOOTER_02b' | translate }}<a [routerLink]="['/info']"
      style="color:white; text-decoration: underline;">{{ 'HOME.FOOTER_02c' | translate }}</a>
  </p>
  <div class="bottom" style="display: flex; align-items: center; justify-content: space-between;">
    <div class="item">
      <img src="assets/images/logo_centurion.png" style="height: 55px;">
    </div>
    <div class="item">
      <img src="assets/images/logo_safaricom.svg">
    </div>
  </div>

</div>


<div id="error" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <img src="assets/images/wanted.svg" alt="">
    <h4>{{ 'END.MES_01' | translate }}</h4>
    <pre>{{ errorMsg | translate }}</pre>
    <!--<p>{{errorMsg}}</p>-->
    <app-button *ngIf="!logOutBtn" [link_button]="true" class="uk-modal-close">{{ 'MESSAGES.MESSAGE_07' | translate }}
    </app-button>
    <app-button *ngIf="gotofaqBtn" [link_button]="true" class="uk-modal-close" (click)="gotoFaqPage()">{{
      'MESSAGES.MESSAGE_14' | translate }}</app-button>
    <app-button *ngIf="logOutBtn" [link_button]="true" class="uk-modal-close" (click)="logOutUser()">{{
      'MESSAGES.MESSAGE_07' | translate }}</app-button>

  </div>
</div>